{%- if dev %}
  {{ service_name }}:
      build:
        context: ../
        dockerfile: docker/Dockerfile
      command: python manage.py start --log-dir=/var/log/{{ project_name }} {{ filename }}
      env_file:
        - dev.env
      volumes:
        - /tmp/debug-log/{{ project_name }}:/var/log/{{ project_name }}
{%- else %}
  {{ service_name }}:
      image: docker-image-{{ project_name }}:{% raw %}{{ version }}{% endraw %}
      command: python manage.py start --log-dir=/var/log/{{ project_name }} {{ filename }}
      env_file:
        - ~/environment/{{ project_name }}/puller.env
      volumes:
        - ~/service-log/{{ project_name }}:/var/log/{{ project_name }}
{%- endif %}
