{% if dev %}LOG_LEVEL=DEBUG{% else %}LOG_LEVEL=INFO{% endif %}
{% if postgres %}
POSTGRES_HOST=10.66.66.66
POSTGRES_PORT=5432
POSTGRES_USER=trader
POSTGRES_PASSWORD=trade
POSTGRES_DATABASE=trader{% endif %}
{% if redis %}
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DATABASE=0{% endif %}