version: '3'

services:
  {% if postgres %}{% if dev %}
  postgres:
    image: postgres:10
    ports:
      - "5432:5432"
    env_file:
      - dev.env
    volumes:
      - ./postgresql:/var/lib/postgresql/data{% else %}
  postgres:
    image: postgres:10
    ports:
      - "5432:5432"
    env_file:
      - ~/.{{ project_name }}_env/postgres.env
    volumes:
      - ~/database/postgres:/var/lib/postgresql/data{% endif %}{% endif %}
  {% if redis %}{% if dev %}
  redis:
    image: redis:3
    ports:
      - "6379:6379"
    env_file:
      - dev.env{% else %}
  redis:
    image: redis:3
    ports:
      - "6379:6379"
    env_file:
      - ~/.{{ project_name }}_env/postgres.env{% endif %}{% endif %}
